asgiref==3.7.2
beautifulsoup4==4.12.3
bootstrap4==0.1.0
crispy-bootstrap5==2023.10
Django==5.0.1
django-bootstrap4==24.1
django-crispy-forms==2.1
mysqlclient==2.2.1
pillow==10.2.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2023.4
