{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}
<div class="site-wrap">
    {% static 'inventory/dawa2.jpg' as dawa2img %}
    <div class="site-blocks-cover inner-page" style="background-image: url('{{dawa2img}}');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class="text-center" style="color: black;">
              <h1 style="color: black;">About Us</h1>
              <p style="color: black; font-weight: 250;">Dawa Pharmacy offers a wide range of medical supplies and medications, with knowledgeable staff available to help customers find what they need. Visit us today for high-quality products and excellent service.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'inventory/images/dawa1.jpg' %}" alt="Image placeholder" class="img-fluid rounded">    
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p class="text-black">Dawa Pharmacy was founded in January 2023 in Nairobi's Umoja Estate with a mission to provide high-quality medical supplies and medications to the local community. Despite being a small operation, we quickly gained a reputation for our knowledgeable staff and commitment to customer service.
              In the beginning, we served just a handful of clients each day. But as word spread about our selection and service, our customer base grew rapidly. Today, we are proud to serve almost 70 clients a day, and we are constantly expanding our inventory to meet their needs.
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img src="{%static 'inventory/dawa.jpg'%}" alt="Image placeholder" class="img-fluid rounded">    
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">We Are Trusted Company</h2>
            </div>
            <p class="text-black">Our team is made up of experienced pharmacists and support staff who are passionate about what they do. We believe that everyone deserves access to quality medical care, and we are dedicated to providing it at an affordable price.
              As we look to the future, we are excited to continue growing and serving the community. We are committed to staying up-to-date on the latest medical research and treatments, and to providing our clients with the best possible care. Thank you for choosing Dawa Pharmacy.
            </p>    
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-5">
    
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <h3 class="block-38-heading h4">Melanie Owino</h3>
                  <p class="block-38-subheading">CEO/Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p class="text-black">Melanie is a pharmacist with over 10 years of experience in the industry. She is passionate about making healthcare accessible and affordable for everyone. In her free time, she enjoys hiking and spending time with her family.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <h3 class="block-38-heading h4">Lilian Atieno</h3>
                  <p class="block-38-subheading">Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p class="text-black">Lilian is a business manager with a background in finance. She is responsible for the day-to-day operations of Dawa Pharmacy and ensures that the business runs smoothly. In her free time, she enjoys reading and traveling.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <h3 class="block-38-heading h4">Patrick Wafula</h3>
                  <p class="block-38-subheading">Marketing</p>
                </div>
                <div class="block-38-body">
                  <p class="text-black">Patrick is a marketing specialist with a background in digital marketing. He is responsible for promoting Dawa Pharmacy and increasing awareness of the business. In his free time, he enjoys playing basketball and trying new restaurants.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">                  
                  <h3 class="block-38-heading h4">Mike Njoroge</h3>
                  <p class="block-38-subheading">Sales Manager</p>
                </div>
                <div class="block-38-body">
                  <p class="text-black">Mike is a sales manager with a background in customer service. He is responsible for managing the sales team and ensuring that customers have a positive experience at Dawa Pharmacy. In his free time, he enjoys playing guitar and watching sports.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p class="text-black">Dawa Pharmacy offers a wide range of medical supplies and medications, with knowledgeable staff available to help customers find what they need. Visit us today for high-quality products and excellent service.</p>
            </div>
          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="#">Supplements</a></li>
              <li><a href="#">Vitamins</a></li>
              <li><a href="#">Diet &amp; Nutrition</a></li>
              <li><a href="#">Tea &amp; Coffee</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Nairobi</li>
                <li class="phone"><a href="tel://254702673683">+254702673683</a></li>
                <li class="email">milicentrebecca@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p> 
              Copyright &copy; 2023&mdash;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank"
                class="text-primary">Rebecca</a>
              </p>
          </div>
        </div>
      </div>
    </footer>
</div>
{% endblock content %}
