{% url 'home' as home_url %}
{% url 'products' as products_url %}
{% url 'about' as about_url %}
{% url 'orders' as orders_url %}
{% url 'sales_report' as sales_report_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}

{% with request.path as path %}
<div class="site-navbar py-2">
  <div class="search-wrap">
    <div class="container">
      <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
    </div>
  </div>

  <div class="container">
    <div class="d-flex align-items-center text-left justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a href="{{home_url}}" class="js-logo-clone">Dawa Pharmacy</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li class="{% if path == home_url %}active{% endif %}"><a href="{{home_url}}">Home</a></li>
            <li class="{% if path == products_url %}active{% endif %}"><a href="{{products_url}}">Products</a></li>
            <li class="{% if path == about_url %}active{% endif %}"><a href="{{about_url}}">About</a></li>
            <li class="{% if path == orders_url %}active{% endif %}"><a href="{{orders_url}}">Orders</a></li>
            <li class="{% if path == sales_report_url %}active{% endif %}"><a href="{{sales_report_url}}">Sales report</a></li>

          </ul>
        </nav>
      </div>
      
        {% if user.is_authenticated %}
          <div>
            <a href="{% url 'user' %}">{{ user.username }}</a>
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" style="color: blue; display: inline-block; margin-left: 8px;">Admin panel</a>
            {% endif %}
          </div>
        
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" style="display: inline-block; margin-left: 8px;">Logout</button>
            </form>
        
        {% else %}
        <div>
            <a href="{% url 'login' %}">Login</a>
            <span>/</span>
            <a href="{% url 'register' %}">Sign up</a>
        {% endif %}
        </div>
      
    </div>
  </div>
</div>
{% endwith %}