{% extends 'inventory/base.html' %}
{% block title %}{{ title }} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form method="POST">
        <h4>Create a New Order</h4>
        <hr>
        {% csrf_token %}
        {{ form|crispy}}

        <br>
        {% if user.is_staff %}
        <button type="submit" class="btn btn-primary">Create Order</button>
      </form>
      {% endif %}
    </div>
    </div>

</div>
{% endblock %}
