{% extends 'base.html' %}

{% block content %}
    <h1>Sales Invoice No. {{ sales_invoice.invoice_no }}</h1>

    <h2>Customer: {{ sales_invoice.client }}</h2>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in sales_invoice.products.all %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ order.order_quantity }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total Amount: Sh{{ order.get_total }}</h3>
{% endblock %}